<div class="row-fluid">
	Bienvenido <%= @user %>
	<a type="button" href="/settings" class="btn btn-default">Settings</a>
	<!--<a type="button" href="/logout" class="btn btn-danger">Log out</a>-->
</div>