<div class="col-xs-4"></div>
<div class="col-xs-4">
<!--
	<div id="message">
		<% #if (@control == 1) %>
	    	<div class="alert alert-danger" role="alert">Error. User or password incorrect.</div>
	    <% #end %>
    </div>-->
    <div id="login" class="panel panel-success">
		<div class="panel-heading"><h4>Welcome to ChefManagement</h4></div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<a href="/auth/facebook" role="button" class="btn btn-primary">Sign In Facebook</a>
				</div>
				<div class="col-md-6">
					<a href="/auth/google_oauth2" role="button" class="btn btn-danger">Sign In Google+</a>
				</div>
			</div>
      <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">or</span>
      </div>
			<form name="login" action="/login" method="POST">
				<div class="form-group">
					<!--<label>Username</label>-->
					<input type="text" class="form-control" name="username" placeholder="Username" required>
				</div>
				<div class="form-group">
					<!--<label>Password</label>-->
					<input id="pass" type="password" class="form-control" name="password" placeholder="Password" required>
					<div class="col-md-6">
						<div class="checkbox" style="text-align:left">
							<label>
						    	<input type="checkbox" onclick="showPassword()"> Show password
						    </label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="checkbox" style="text-align:right">
	 						<p><a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a></p>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-success btn-lg btn-block">Log in</button>
			</form>
			<hr>
			<p>
			<a href="/register">New account</a></p>
		</div>
	</div>
</div>
<div class="col-xs-4"></div>


<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Recovery password</h4>
			</div>
			<div class="modal-body">
				<p>Type your email account</p>
				<input type="email" name="recovery-email" id="recovery-email" class="form-control" autocomplete="off">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Recovery</button>
			</div>
		</div>
	</div>
</div>


<footer id="footer">
    <div class="row">
        <div class="col-md-12">
            <p>ChefManagement © - 2015
            <br>
            	<a href="http://www.ull.es/" target="_blank">ULL</a> - 
            	<a href="http://www.ull.es/view/centros/etsii/Inicio/es" target="_blank">ESIT</a>
            </p>
        </div>
    </div>
</footer>
