<div class="col-xs-4"></div>
<div class="col-xs-4">
	<div id="message"></div>
    <div id="login" class="panel panel-success">
		<div class="panel-heading"><h4>Welcome to ChefManagement</h4></div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<a id="facebook-btn" href="/auth/facebook" role="button" class="btn btn-primary">Sign In Facebook</a>
				</div>
				<div class="col-md-6">
					<a id="google-btn" href="/auth/google_oauth2" role="button" class="btn btn-danger">Sign In Google+</a>
				</div>
			</div>
		    <div class="login-or">
				<hr class="hr-or">
		        <span class="span-or">or</span>
			</div>
			<!--<form action="/login" method="post">-->
				<div class="form-group">
					<!--<label>Username</label>-->
					<input id="username" type="text" class="form-control" name="username" placeholder="Username">
				</div>
				<div class="form-group">
					<!--<label>Password</label>-->
					<input id="pass" type="password" class="form-control" name="password" placeholder="Password">
					<div class="col-md-6">
						<div class="checkbox" style="text-align:left">
							<label>
						    	<input type="checkbox" onclick="showPassword()"> Show password
						    </label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="checkbox" style="text-align:right">
	 						<p><a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal" id="forgot">Forgot your password?</a></p>
						</div>
					</div>
				</div>
				<button id="enter" class="btn btn-success btn-lg btn-block">Log in</button>
				<!--<button id="enter" type="submit" class="btn btn-success btn-lg btn-block">Log in</button>
			</form>-->
			<hr>
			<p>
			<a href="/register">New account</a></p>
		</div>
	</div>
</div>
<div class="col-xs-4"></div>


<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<!--<form action="/recovery" method="post">-->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Recovery password</h4>
			</div>
			<div class="modal-body">
				<p>Type your username account</p>
				<input type="text" name="recovery_account" id="recovery_account" class="form-control" autocomplete="off" required>
			</div>
			<div id="message2"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button class="btn btn-primary" id="recovery">Recovery</button>
			</div>
			<!--</form>-->
		</div>
	</div>
</div>


<footer id="footer">
    <div class="row">
        <div class="col-md-12">
            <p>ChefManagement © - 2015
            <br>
            	<a href="http://www.ull.es/" target="_blank">ULL</a> - 
            	<a href="http://www.ull.es/view/centros/etsii/Inicio/es" target="_blank">ESIT</a>
            </p>
        </div>
    </div>
</footer>

<script type="text/javascript">

$(document).ready(function(){

	$("#enter").click(function(){

	if ( ($('#username').val() == "") || ($('#pass').val() == "") ){
		$("#message").hide();
        $("#message").html('<p class ="alert alert-warning" role="alert">All fields are required</p>');
        $("#message").show(1000);
        return false;
	}

    $.ajax({
    	type: "POST",
		url: "/login",
      	data: {username: $('#username').val(), password: $('#pass').val()},

      	success: function(data){
			if(data.control == 0)
          		window.location = '/home';
          		//window.location.href = '/home';
        	if(data.control == 1){
		        $("#message").hide();
		        $("#message").html('<p class ="alert alert-danger" role="alert">Username does not exist</p>');
		        $("#message").show(1000);
        	}
	        if(data.control == 2){
	          $("#message").hide();
	          $("#message").html('<p class="alert alert-danger" role="alert">Password incorrect</p>');
	          $("#message").show(1000);
	        }
		},

		error: function(xhr){
			console.log(xhr.status);
	    	console.log(xhr.statusText);
		}
		});
	});

	document.onkeypress = function(event){
		if ( event.which == 13 ) {

	     	if ( ($('#username').val() == "") || ($('#pass').val() == "") ){
				$("#message").hide();
		        $("#message").html('<p class ="alert alert-warning" role="alert">All fields are required</p>');
		        $("#message").show(1000);
		        return false;
			}

	    $.ajax({
	    	type: "POST",
			url: "/login",
	      	data: {username: $('#username').val(), password: $('#pass').val()},

	      	success: function(data){
				if(data.control == 0)
	          		window.location = '/home';
	          		//window.location.href = '/home';
	        	if(data.control == 1){
			        $("#message").hide();
			        $("#message").html('<p class ="alert alert-danger" role="alert">Username does not exist</p>');
			        $("#message").show(1000);
	        	}
		        if(data.control == 2){
		          $("#message").hide();
		          $("#message").html('<p class="alert alert-danger" role="alert">Password incorrect</p>');
		          $("#message").show(1000);
		        }
			},

			error: function(xhr){
				console.log(xhr.status);
		    	console.log(xhr.statusText);
			}
			});
		}
	}

	$("#forgot").click(function(){
		$("#recovery_account").val('');
		$("#message2").hide();
	});

	$("#recovery").click(function(){
		if ($('#recovery_account').val() == ""){
			$("#message2").hide();
        	$("#message2").html('<p class ="alert alert-warning" role="alert">Fill the field: type your username</p>');
        	$("#message2").show(1000);
        	return false;
		}

		$.ajax({
	    	type: "POST",
			url: "/recovery-account",
	      	data: {recoveryusername: $('#recovery_account').val()},

			success: function(data){
		      	if(data.control == 0){
	  				$("#message2").hide();
		        	$("#message2").html('<p class ="alert alert-info" role="alert">Email sent. Check your email account, please.</p>');
		        	$("#message2").show(1000);
		      	}

		      	if(data.control == 1){
	  				$("#message2").hide();
		        	$("#message2").html('<p class ="alert alert-danger" role="alert">Username does not exist</p>');
		        	$("#message2").show(1000);
		      	}
	      	},

		    error: function(xhr){
				console.log(xhr.status);
		    	console.log(xhr.statusText);
	      	}
	  	});
	});
});

</script>
