<html lang="en">

<head>
	<meta content="text/html, charset=utf-8" http-equiv="Content-Type"/>
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="css/custom.css" type="text/css">

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/myfunctions.js"></script>
	<script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

	<title> ChefManagement</title>
</head>

<body id="welcome">
    <ul class="cb-slideshow">
    	<li><span>Image 00</span></li>
        <li><span>Image 01</span></li>
        <li><span>Image 02</span></li>
        <li><span>Image 03</span></li>
		<li><span>Image 04</span></li>
    </ul>
	<%= yield %>
</body>

</html>