<html lang="en">

<head>
	<meta content="text/html, charset=utf-8" http-equiv="Content-Type"/>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/custom.css">
	<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">-->
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/myfunctions.js"></script>
	<script type="text/javascript" src="js/modernizr.custom.86080.js"></script>

	<title> ChefManagement</title>
</head>

<body>
    <ul class="cb-slideshow">
    	<li><span>Image 00</span></li>
        <li><span>Image 01</span></li>
        <li><span>Image 02</span></li>
        <li><span>Image 03</span></li>
		<li><span>Image 04</span></li>
    </ul>
	<%= yield %>
</body>

</html>